{% extends "base.html" %}

{% block title %}
Filter Employee Details!
{% endblock title %}

{% block body %}
  <div class="container mt-4">
    <h3>Filter Employee Details!</h3>
    <hr>
  <form action="/filter_emp" method="post">
    {% csrf_token %}
    <label for="name">Employee First/Last Name</label><br>
    <input type="text" id="name" name="name" value="{{ name }}"><br>
    <label for="dept">Department</label><br>
    <input type="text" id="dept" name="dept" value="{{ dept }}"><br>
    <label for="role">Role</label><br>
    <input type="text" id="role" name="role" value="{{ role }}"><br>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock body %}